h1{
	color:a44936;
	border:2px solid orange;
	padding:5px;
	text-align: center; }
img {
	width: 550px;
	height: 350px;
    margin-left: 50px;}
p{ margin-left:50px;}
ifram{marfin-left:50px;}

body{
    width: 100%;
	background-color: ffe8d1 ;
}
